<section class="course-infos bg-theme" id="metodo">
    <div class="max-content">
        <h1 class="title reveal">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 2v2h-4v-2h4zm2-2h-8v6h8v-6zm-10 18h-6v6h6v-6zm18 0h-6v6h6v-6zm-11-7v-3h-2v3h-9v5h2v-3h7v3h2v-3h7v3h2v-5h-9zm2 7h-6v6h6v-6z"/></svg>
            </span>
            O que é esse método 4k?
        </h1>
        <p class="description">O método 4K é a <strong>transformação profissional</strong> que você procura, com abordagem rápida, prática e humanizada, para <strong>se tornar uma referência na laserterapia</strong></p>
        <div class="modules">
            <div class="controls">
                <button data-direction="left">&lt;</button>
                <button data-direction="right">&gt;</button>
            </div>
            <div class="overflow">
                <div class="wrapper">
                    {{modules}}
                </div>
            </div>
        </div>
    </div>
</section>