<section class="course-infos bg-theme" id="metodo">
    <div class="content metodo">
        <h1 class="title reveal">Mais novo método 4k</h1>
        <p class="descripton">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="modules reveal-left">
            <div class="module"></div>
            <div class="module"></div>
            <div class="module"></div>
            <div class="module"></div>
            <div class="module"></div>
            <div class="module"></div>
        </div>
    </div>
</section>