<section class="course-infos bg-theme" id="metodo">
    <div class="content metodo">
        <div class="tab">
            <h1 class="title reveal">
                <span class="icon"></span>
                Mais novo método 4k
            </h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="modules reveal-left">
            <div class="module"></div>
            <div class="module"></div>
            <div class="module"></div>
            <div class="module"></div>
            <div class="module"></div>
            <div class="module"></div>
        </div>
    </div>
</section>