@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Inclua este CSS no seu projeto */
@import url('https://unpkg.com/simplebar@5.0.0/dist/simplebar.min.css');

@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: segoe;
    src: url(../font/segoe-ui/segoe-ui-emoji.ttf);
}

@font-face {
    font-family: coolvetica;
    src: url(../font/coolvetica/coolvetica\ rg.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

:root{
    --primary-color: #60a1aa;
    --secondary-color: #151821;
    --terciary-color: #ffffff;
    --terciary-color-opacity: #ffffffce;
    --primary-color-opacity: #60a1aa38;
    --text-color: #000000;
    
    --max-content: 1366px;
    --screen-margin:100px;
    --navbar-height: 80px;
    --cylinder-radius: 99999px;
    --default-radius: 25px;
}


:target {
    scroll-margin-top: var(--navbar-height);
}



::-webkit-scrollbar{
    width: 10px;
    background-color: var(--terciary-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 999px;
}

body {
    background-color: var(--terciary-color);
    color: var(--text-color);


}

strong {
    color: var(--primary-color);
}

blockquote {
    padding: 20px;
    border-left: 4px solid var(--primary-color);
    background-color: var(--primary-color-opacity);
    color: var(--primary-color);
}

mark {
    background-color: var(--primary-color-opacity);
    border-radius: 7px;
    padding: 0 10px;
    color: var(--text-color);
}

.max-content {
    margin: auto;
    width: 100%;
    max-width: var(--max-content);
    padding: 0 var(--screen-margin);
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    gap: inherit;
}

.menu{
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    justify-content: center;
    width: 100%;
    height: var(--navbar-height);
    backdrop-filter: blur(10px);
    background-color: var(--terciary-color-opacity);
    z-index: 999;

}
.menu .content-max{
    display: flex;
    padding: 0 var(--screen-margin);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-content);
    padding: 0 var(--screen-margin);
}
.menu .left-a img{
    --size: 80px;
    width: var(--size);
}

.menu .right-menu {
    touch-action: none;
}
.menu .right-menu ul{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
}
.menu .right-menu ul li{
    list-style-type: none;
}
.menu .right-menu ul li button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 999px;
    padding: 8px 15px;
    transition: background-color .6s ease;
    outline: none;
    user-select: none;
    color: var(--primary-color);
}
.menu .right-menu ul li .show-color{
    background-color: rgba(143, 140, 140, 15%);
}
.menu .right-menu ul li a button:hover{
    background-color: rgba(143, 140, 140, 0.096);
}
.menu .right-menu ul li a{
    text-decoration: none;
}
.menu .right-menu ul .btns-div-navbar{
    display: flex;
    gap: 15px;
}
.menu .right-menu ul li a .btn-navbar{
    background: var(--primary-color);
    color: white;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 0;
    border-radius: 50%;
    font-size: 25px;
    transition: .3s ease;

}
.menu .content-max .mobile{
    display: none;
}
.menu .content-max .mobile ul{
    display: flex;
    gap: 10px;
}
.menu .content-max .mobile ul li{
    list-style-type: none;
}
.menu .content-max .mobile ul li a{
    text-decoration: none;
}
.menu .content-max .mobile ul li button{
    background-color: var(--primary-color);
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.menu .content-max .mobile .buguer{
    background-color: var(--primary-color);
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.menu .right-menu ul li a .btn-navbar:hover{
    background: var(--primary-color);
}
.menu .right-menu ul li a .zap:hover{
    background-color: #25D366;
}
.menu .right-menu ul li a .insta:hover{
    background:#d6249f ;
}

.menu .right-menu .navbar-animation{
    display: flex;
    gap: 30px;
    position: relative;
}
.menu .right-menu .navbar-animation .line{
    transition: all .6s ease;
    width: 40px;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 999px;
    position: absolute;
    top: calc(100% + 5px);
    
}
.menu .right-menu ul .navbar-animation .mobile-target{
    display: none;
}
.menu .right-menu ul .navbar-animation .mobile-target  img{
    background-color: rgba(204, 202, 202, 0.281);
    padding: 10px;
    border-radius: 15px;
}

.alert{
    position: fixed;
    right: 20px;
    top: 100px;
    height: 60px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transition: all .6s ease;
    gap: 15px;
    z-index: 999;
    transform: translateY(-100%);
    opacity: 0;
    padding: 0 30px;
}
.showing-alerts{

    transform: translateY(0);
    opacity: 1;

}
.alert i{
    font-size: 20px;
}
.alert-success{
    color: rgb(16, 187, 16);
    background-color: #ceffd9;
}
.alert-error{
    color: rgb(187, 16, 16);
    background-color: #ffcece;
}
@media (max-width: 1080px) {
    
    main .course-infos .modules {
        --quantity-view: 3;
    }

    .menu .content-max .right-menu{
        position: fixed;
        width: 100%;
        max-width: 300px;
        background-color:var(--terciary-color);
        height: 100vh;
        z-index: 999px;
        top: 0;
        left: 0;
        padding: 5px 20px;
        overflow: auto;
        transition: all .6s ease;
    }
    .menu .content-max .hidden{
        transform: translateX(-100%) !important;
    }
    .menu .content-max .right-menu ul{
        flex-direction: column;
    }
    .menu .right-menu .navbar-animation{
        flex-direction: column;
        width: 100%;
    }
    .menu .right-menu .navbar-animation .line{
        display: none;
    }
    .menu .right-menu ul li button{
        width: 100%;
        height: 50px;
        background-color: var(--primary-color-opacity);
        border-radius: 10px;
    }
    .menu .right-menu ul .btns-div-navbar{
        width: 100%;
    }
    .menu .right-menu ul li{
        width: 100%;
    }
    .menu .right-menu ul li a .btn-navbar{
        width: 100%;
        border-radius: 10px;
        height: 40px;
    }
    .menu .right-menu ul .navbar-animation .mobile-target{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu .right-menu ul .navbar-animation .mobile-target .buguer{
        cursor: pointer;
        color: var(--primary-color);
        font-size: 50px;
    }
    .menu .content-max .mobile{
        display: flex;
    }
}