@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
:root{
    --primary-color: #60a1aa;
    --secondary-color: #151821;
    --terciary-color: #FFFFFF;
    --terciary-color-opacity: #ffffff60;
    --primary-color-opacity: #60a1aa38;
    --text-color: black;
    
    --max-content: 1366px;
    --screen-margin:100px;
    --navbar-height: 124px;
}


@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: segoe;
    src: url(../font/segoe-ui/segoe-ui-emoji.ttf);
}
@font-face {
    font-family: coolvetica;
    src: url(../font/coolvetica/coolvetica\ rg.otf);
}

:target {
    scroll-margin-top: var(--navbar-height);
}


body::-webkit-scrollbar{
    width: 10px;
    background-color: var(--terciary-color);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 999px;
}
.menu{
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    justify-content: center;
    width: 100%;
    height: var(--navbar-height);
    backdrop-filter: blur(10px);
    background-color: var(--terciary-color-opacity);

}
.menu .content-max{
    display: flex;
    padding: 0 var(--screen-margin);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-content);
    padding: 0 var(--screen-margin);
}
.menu .left-a img{
    --size: 120px;
    width: var(--size);
    object-fit: contain;
}
.menu .right-menu ul{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
}
.menu .right-menu ul li{
    list-style-type: none;
}
.menu .right-menu ul li a button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 999px;
    padding: 8px 15px;
    transition: background-color .6s ease;
    outline: none;
    user-select: none;
}
.menu .right-menu ul li a button:hover{
    background-color: rgba(143, 140, 140, 0.096);
}
.menu .right-menu ul li a{
    text-decoration: none;
}
.menu .right-menu ul .btns-div-navbar{
    display: flex;
    gap: 15px;
}
.menu .right-menu ul li a .btn-navbar{
    background: var(--secondary-color);
    color: white;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 0;
    border-radius: 50%;
    font-size: 25px;
    transition: .3s ease;

}
.menu .right-menu ul li a .btn-navbar:hover{
    background: var(--primary-color);
}
.menu .right-menu ul li a .zap:hover{
    background-color: #25D366;
}
.menu .right-menu ul li a .insta:hover{
    background:#d6249f ;
}

.menu .right-menu .navbar-animation{
    display: flex;
    gap: 30px;
    position: relative;
}
.menu .right-menu .navbar-animation .line{
    transition: all .6s ease;
    width: 50px;
    height: 5px;
    background-color: var(--secondary-color);
    border-radius: 999px;
    position: absolute;
    top: 50px;
    
}