header{
    display: flex;
    justify-content: center;
    min-height: calc(798px - var(--navbar-height));
    flex-direction: column;
    padding-top: var(--navbar-height) ;
}
.content{
    margin: auto;
    width: 100%;
    max-width: var(--max-content);
    padding: 0 var(--screen-margin);
}
header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 850px;
    height: 850px;
    transform: translate(-50%,-30%);
    z-index: -1;
    background-color: var(--primary-color-opacity);
    filter: blur(50px);
    border-radius: 50%;
}
header h1{
    font-family: 'Raleway';
    font-weight:900;
    font-size: 58pt;
}
header p{
    max-width: 550px;
    font-size: 14pt;
}
header .btns-header{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

header .btns-header .eu-quero{
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.205);
    transition: all .6s ease;
}
header .btns-header .eu-quero:hover{
    filter: drop-shadow(0 0 20px 5px var(--primary-color-opacity));
    transform: scale(1.05);

}
header .btns-header .saiba-mais{
    background-color: transparent;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    filter: drop-shadow(0 0 20px 5px var(--primary-color-opacity));
}
header .btns-header .saiba-mais:hover{
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.205);

}
header .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .content .right{
    position: relative;
}
header .content .right img{
    max-width: 100%;
    height: 500px;
}
header .content .right .card{
    position: absolute;
    width: 60px;
    height: fit-content;
    object-fit: contain;
}
header .content .right .card:nth-child(1){
    top: 30px;
    animation: toptodown1 5s ease-in-out infinite alternate;
}
header .content .right .card:last-child{
    top: 200px;
    right: 0 ;
    animation: toptodown2 5s ease-in-out infinite alternate;
}
@keyframes toptodown1 {
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes toptodown2 {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(50px);
    }
}
main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding:  40px 0;
    position: relative;
}

main section .content {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    gap: inherit;
}

main section .icon {
    --bg: var(--primary-color);
    --size: 70px;
    --inner-size: calc(var(--size) - 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size);
    height: var(--size);
    border-radius: 25px;
    background-color: var(--bg);
    color: var(--terciary-color);
    fill: var(--terciary-color);
}

main section .icon * {
    width: var(--inner-size);
    height: var(--inner-size);
    font-size: var(--inner-size);
    object-fit: contain;
    z-index: 2;
}

main footer .icon {
    --bg: var(--primary-color);
    --size: 70px;
    --inner-size: calc(var(--size) - 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size);
    height: var(--size);
    border-radius: 25px;
    background-color: var(--bg);
    color: var(--terciary-color);
    fill: var(--terciary-color);
}

main footer .icon * {
    width: var(--inner-size);
    height: var(--inner-size);
    font-size: var(--inner-size);
    object-fit: contain;
    z-index: 2;
}


main section .icon.blob {
    --inner-size: calc(var(--size) - 30%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 calc(var(--size) / 2) calc(var(--size) / 2);
    height: 100px;
}

main section .icon.blob::before, main section .icon.blob::after {
    --width: 100px;
    --radius: 30px;
    content: '';
    position: absolute;
    top: 0;
    width: var(--width);
    height: 50px;
}

main section .icon.blob::before {
    right: 100%;
    box-shadow: var(--radius) 0 0 var(--bg);
    border-radius: 0 var(--radius) 0 0;
}

main section .icon.blob::after {
    left: 100%;
    box-shadow: calc(var(--radius) * -1) 0 0 var(--bg);
    border-radius: var(--radius) 0 0 0;
}

main section .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    text-align: center;
    gap: 20px;
}

main section .description {
    font-size: 14pt;
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
}

main section.bg-theme {
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 30px;
}
main footer.bg-theme {
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 30px;
}
main section.bg-theme .icon {
    --bg: var(--terciary-color);
    color: var(--primary-color);
    fill: var(--primary-color);
}

main footer.bg-theme .icon {
    --bg: var(--terciary-color);
    color: var(--primary-color);
    fill: var(--primary-color);
}

main .course-infos {
    align-items: center;
}

main .course-infos .modules {
    --gap: 20px;
    --quantity-view: 4;
    display: flex;
    gap: var(--gap);
    overflow-x: auto;
    width: 100%;
    counter-reset: modulos;
}

main .course-infos .modules::-webkit-scrollbar {
    display: none;
}

main .course-infos .modules .module {
    position: relative;
    width: calc(((100% - (var(--gap) * (var(--quantity-view) - 1))) / var(--quantity-view)));
    height: 360px;
    background-color: var(--terciary-color);
    flex: none;
    border-radius: 25px;
    transition: .3s ease;
    transition-delay: .5s;
    cursor: pointer;
    counter-increment: modulos;
}

main .course-infos .modules .module:hover {
    width: 500px;
}

main .course-infos .modules .module::after {
    content: 'Módulo 'counter(modulos);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 20pt;
}

main .person-infomation{
    flex-direction: row;
    align-items: center;
    min-height: calc(798px - var(--navbar-height));
}

main .person-infomation .content {
    display: flex;
}
main .person-infomation .content .left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .person-infomation .content .right img{
    max-width: 100%;
    height: 500px;
    object-fit: contain;
}
main .person-infomation .title{
    justify-content: start;
    font-size: 38pt;
    font-family: Raleway;
}
main .person-infomation .text{
    font-size: 15pt;
    max-width: 580px;
}
main .person-infomation .button{
    background-color: var(--primary-color);
    width: 240px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

main .feedbacks {
    padding-top: 150px;
}

main .feedbacks .title {
    flex-direction: column;
}

main .feedbacks .wrapper {
    --gap: 20px;
    --quantity-view: 3;
    display: flex;
    gap: var(--gap);
    overflow-x: auto;
}

main .feedbacks .wrapper::-webkit-scrollbar {
    display: none;
}

main .feedbacks .wrapper .feedback {
    width: calc(((100% - (var(--gap) * (var(--quantity-view) - 1))) / var(--quantity-view)));
    height: 480px;
    border-radius: 25px;
    background-color: var(--terciary-color);
    flex: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

main .feedbacks .wrapper .feedback::before {
    content: '';
    background-color: #00000020;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: .3s ease;
    opacity: 0;
}

main .feedbacks .wrapper .feedback::after {
    --clip-path: polygon(0 0, 100% 50%, 0 100%);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate3d(-50%, -50%, 0);
    clip-path: var(--clip-path);
    -moz-clip-path: var(--clip-path);
    -webkit-clip-path: var(--clip-path);
    background-color: var(--primary-color);
    opacity: 0;
}

main .feedbacks .wrapper .feedback:hover::before, main .feedbacks .wrapper .feedback:hover::after {
    opacity: 1;
}

main .comunidade .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
main .comunidade .content .title{
    flex-direction: column;
}

main .comunidade .content .baixo{
    display: flex;
    width: 100%;
    gap: 30px;
}
main .comunidade .content .baixo > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
main .comunidade .content .baixo .left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .comunidade .content .baixo .left p{
    font-size: 30px;
    max-width: 100%;
    border-left: 4px solid var(--secondary-color);
    padding-left: 10px;
}
main .comunidade .content .baixo .left img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
main .comunidade .content .baixo .right form{
    display: flex;
    padding: 0 30px;
    gap: 18px;
    flex-direction: column;
}
main .comunidade .content .baixo .right form .input{
    position: relative;
    display: flex;
    align-items: center;
}
main .comunidade .content .baixo .right form .input label{
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    left: 20px;
    gap: 10px;
    transition: all .3s ease;
    transform: translateY(0px);
    padding: 0 5px;
    color: var(--primary-color);
}
main .comunidade .content .baixo .right form .input .active {
    transform: translateY(-30px);
    background-color: white;
    font-size: 10px;
}
main .comunidade .content .baixo .right form .input .active i{
    font-size: 18px;
}
main .comunidade .content .baixo .right form .input label i{
    font-size: 25px;
    transition: all .3s ease;
}
main .comunidade .content .baixo .right form .input input{
    width: 100%;
    height: 60px;
    padding: 0 25px;
    border-radius: 13px;
    outline: none;
    border: 1px solid var(--primary-color);
}
main .comunidade .content .baixo .right form button{
    height: 60px;
    background-color: var(--primary-color);
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 13px;
    cursor: pointer;
    border: none;
}
main footer.bg-theme{
    border-bottom-right-radius: 0 ;
    border-bottom-left-radius: 0 ;
}
main footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 60px; 
}
main footer .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    width: 100%;
    border-bottom: thin solid white;
    padding-bottom: 50px;
}
@media (max-width: 1000px) {
    
    main .course-infos .modules {
        --quantity-view: 3;
    }

}

@media (max-width: 853px) {
    
    main .course-infos .modules {
        --quantity-view: 2;
    }

}