header{
    display: flex;
    justify-content: center;
    min-height: calc(798px - var(--navbar-height));
    flex-direction: column;
}
.content{
    margin: auto;
    width: 100%;
    max-width: var(--max-content);
    padding: 0 var(--screen-margin);
}
header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 850px;
    height: 850px;
    transform: translate(-50%,-30%);
    z-index: -1;
    background-color: var(--primary-color-opacity);
    filter: blur(50px);
    border-radius: 50%;
}
header h1{
    font-family: 'Raleway';
    font-weight:900;
    font-size: 58pt;
}
header p{
    max-width: 550px;
    font-size: 14pt;
}
header .btns-header{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

header .btns-header .eu-quero{
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.205);
    transition: all .6s ease;
}
header .btns-header .eu-quero:hover{
    filter: drop-shadow(0 0 20px 5px var(--primary-color-opacity));
    transform: scale(1.05);

}
header .btns-header .saiba-mais{
    background-color: transparent;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    filter: drop-shadow(0 0 20px 5px var(--primary-color-opacity));
}
header .btns-header .saiba-mais:hover{
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.205);

}
main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding:  40px 0;
}

main section.bg-theme {
    background-color: var(--primary-color);
    color: #ffffff;
}
main section .metodo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main section.course-infos .modules {
    display: flex;
    gap: 10px;
}

main section.course-infos .modules .module {
    width: 200px;
    height: 400px;
    background-color: var(--secondary-color);
}


main .person-infomation{
    display: flex;
    justify-content: center;
    min-height: calc(798px - var(--navbar-height));
    flex-direction: column;
}