header{
    display: flex;
    justify-content: center;
    min-height: calc(798px - var(--navbar-height));
    flex-direction: column;
    padding: var(--screen-margin);
    padding-top: var(--navbar-height);
}