<nav class="menu">
    <a href="{{urlBase}}" class="left-a">
        <img src="{{urlBase}}/assets/img/logo.png">
    </a>
    <div class="right-menu">
        <ul>
            <div class="navbar-animation">
                <span class="line"></span>
                <li>
                    <a href="#">
                        <button class="navbtn">
                            Início
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <button class="navbtn">
                            Método
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <button class="navbtn">
                            Sobre mim
                        </button>
                    </a>
                </li>
            </div>
            <li>
                <a href="#">
                    <button class="btn-navbar">
                        Eu quero
                    </button>
                </a>
            </li>
        </ul>
    </div>
</nav>