{{navbar}}
<header>
    <div class="max-content">
        <div class="left reveal-left">
            <h1>
                Doutora do laser
            </h1>
            <p>Você tem interesse em se tornar uma <b>laserterapeuta</b> de <b>sucesso</b> no mercado? Seja bem vindo(a) ao <b>melhor</b> curso e comunidade do <b>Brasil</b> </p>
            <div class="btns-header">
                <a href="#" class="eu-quero">
                    Eu quero
                </a>
                <a href="#" class="eu-quero saiba-mais">
                    Saiba mais
                </a>
            </div>
        </div>
        <div class="right reveal-right">
            <img src="{{urlBase}}/assets/img/card1.png" class="card card1 reveal" alt="card">
            <img src="{{urlBase}}/assets/img/header.png" alt="karina">
            <img src="{{urlBase}}/assets/img/card2.png" class="card card2 reveal-bottom" alt="card">
            <span class="tags">MENTORA</span>
            <span class="tags">PROFISSIONAL</span>
            <span class="tags">laserterapeuta</span>
        </div>
    </div>
</header>
<main>
    <!-- {{mainSections}} -->
    <section class="course-infos bg-theme" id="metodo">
        <div class="max-content">
            <h1 class="title reveal">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 2v2h-4v-2h4zm2-2h-8v6h8v-6zm-10 18h-6v6h6v-6zm18 0h-6v6h6v-6zm-11-7v-3h-2v3h-9v5h2v-3h7v3h2v-3h7v3h2v-5h-9zm2 7h-6v6h6v-6z"/></svg>
                </span>
                O que é esse método 4k?
            </h1>
            <p class="description">O método 4K é a <strong>transformação profissional</strong> que você procura, com abordagem rápida, prática e humanizada, para <strong>se tornar uma referência na laserterapia</strong></p>
            <div class="modules reveal-left">
                <div class="controls">
                    <button class="left">&lt;</button>
                    <button class="right">&gt;</button>
                </div>
                <div class="wrapper">
                    <div class="module">
                        <div class="cover">
                            <div class="tab">
                                <span class="number">1</span>
                                <h2>Lorem ipsum dolor</h2>
                            </div>
                        </div>
                        <div class="content">
                            <strong>Lições:</strong>
                            <ol>
                                <li><strong>Lição 1:</strong> Lorem ipsum</li>
                                <li><strong>Lição 2:</strong> Lorem ipsum</li>
                                <li><strong>Lição 3:</strong> Lorem ipsum</li>
                            </ol>
                            <strong>Objetivos:</strong>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li>Nullam in turpis a nulla pretium laoreet.</li>
                                <li>vel venenatis turpis tincidunt.</li>
                            </ul>
                            <p><mark>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mark> Sed euismod nisl eget purus congue, vel venenatis turpis tincidunt.</p>
                            <p>Nullam in turpis a nulla pretium laoreet. Fusce sit amet arcu id nulla elementum fringilla. Aenean ut nisl eu purus bibendum sollicitudin.</p>
                            <p><em>Quisque sed quam eu sem tincidunt vehicula. Integer at augue Nullam in turpis a nulla pretium laoreet.</em> Sed vehicula justo eget justo luctus.</p>
                        </div>
                    </div>
                    <div class="module">
                        <div class="cover">
                            <div class="tab">
                                <span class="number">2</span>
                                <h2>Lorem ipsum dolor</h2>
                            </div>
                        </div>
                        <div class="content">
                            <strong>Lições:</strong>
                            <ol>
                                <li><strong>Lição 1:</strong> Lorem ipsum</li>
                                <li><strong>Lição 2:</strong> Lorem ipsum</li>
                                <li><strong>Lição 3:</strong> Lorem ipsum</li>
                            </ol>
                            <strong>Objetivos:</strong>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li>Nullam in turpis a nulla pretium laoreet.</li>
                                <li>vel venenatis turpis tincidunt.</li>
                            </ul>
                            <p><mark>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mark> Sed euismod nisl eget purus congue, vel venenatis turpis tincidunt.</p>
                            <p>Nullam in turpis a nulla pretium laoreet. Fusce sit amet arcu id nulla elementum fringilla. Aenean ut nisl eu purus bibendum sollicitudin.</p>
                            <p><em>Quisque sed quam eu sem tincidunt vehicula. Integer at augue Nullam in turpis a nulla pretium laoreet.</em> Sed vehicula justo eget justo luctus.</p>
                        </div>
                    </div>
                    <div class="module">
                        <div class="cover">
                            <div class="tab">
                                <span class="number">3</span>
                                <h2>Lorem ipsum dolor</h2>
                            </div>
                        </div>
                        <div class="content">
                            <strong>Lições:</strong>
                            <ol>
                                <li><strong>Lição 1:</strong> Lorem ipsum</li>
                                <li><strong>Lição 2:</strong> Lorem ipsum</li>
                                <li><strong>Lição 3:</strong> Lorem ipsum</li>
                            </ol>
                            <strong>Objetivos:</strong>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li>Nullam in turpis a nulla pretium laoreet.</li>
                                <li>vel venenatis turpis tincidunt.</li>
                            </ul>
                            <p><mark>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mark> Sed euismod nisl eget purus congue, vel venenatis turpis tincidunt.</p>
                            <p>Nullam in turpis a nulla pretium laoreet. Fusce sit amet arcu id nulla elementum fringilla. Aenean ut nisl eu purus bibendum sollicitudin.</p>
                            <p><em>Quisque sed quam eu sem tincidunt vehicula. Integer at augue Nullam in turpis a nulla pretium laoreet.</em> Sed vehicula justo eget justo luctus.</p>
                        </div>
                    </div>
                    <div class="module">
                        <div class="cover">
                            <div class="tab">
                                <span class="number">4</span>
                                <h2>Lorem ipsum dolor</h2>
                            </div>
                        </div>
                        <div class="content">
                            <strong>Lições:</strong>
                            <ol>
                                <li><strong>Lição 1:</strong> Lorem ipsum</li>
                                <li><strong>Lição 2:</strong> Lorem ipsum</li>
                                <li><strong>Lição 3:</strong> Lorem ipsum</li>
                            </ol>
                            <strong>Objetivos:</strong>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li>Nullam in turpis a nulla pretium laoreet.</li>
                                <li>vel venenatis turpis tincidunt.</li>
                            </ul>
                            <p><mark>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mark> Sed euismod nisl eget purus congue, vel venenatis turpis tincidunt.</p>
                            <p>Nullam in turpis a nulla pretium laoreet. Fusce sit amet arcu id nulla elementum fringilla. Aenean ut nisl eu purus bibendum sollicitudin.</p>
                            <p><em>Quisque sed quam eu sem tincidunt vehicula. Integer at augue Nullam in turpis a nulla pretium laoreet.</em> Sed vehicula justo eget justo luctus.</p>
                        </div>
                    </div>
                    <div class="module">
                        <div class="cover">
                            <div class="tab">
                                <span class="number">5</span>
                                <h2>Lorem ipsum dolor</h2>
                            </div>
                        </div>
                        <div class="content">
                            <strong>Lições:</strong>
                            <ol>
                                <li><strong>Lição 1:</strong> Lorem ipsum</li>
                                <li><strong>Lição 2:</strong> Lorem ipsum</li>
                                <li><strong>Lição 3:</strong> Lorem ipsum</li>
                            </ol>
                            <strong>Objetivos:</strong>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li>Nullam in turpis a nulla pretium laoreet.</li>
                                <li>vel venenatis turpis tincidunt.</li>
                            </ul>
                            <p><mark>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mark> Sed euismod nisl eget purus congue, vel venenatis turpis tincidunt.</p>
                            <p>Nullam in turpis a nulla pretium laoreet. Fusce sit amet arcu id nulla elementum fringilla. Aenean ut nisl eu purus bibendum sollicitudin.</p>
                            <p><em>Quisque sed quam eu sem tincidunt vehicula. Integer at augue Nullam in turpis a nulla pretium laoreet.</em> Sed vehicula justo eget justo luctus.</p>
                        </div>
                    </div>
                    <div class="module">
                        <div class="cover">
                            <div class="tab">
                                <span class="number">6</span>
                                <h2>Lorem ipsum dolor</h2>
                            </div>
                        </div>
                        <div class="content">
                            <strong>Lições:</strong>
                            <ol>
                                <li><strong>Lição 1:</strong> Lorem ipsum</li>
                                <li><strong>Lição 2:</strong> Lorem ipsum</li>
                                <li><strong>Lição 3:</strong> Lorem ipsum</li>
                            </ol>
                            <strong>Objetivos:</strong>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li>Nullam in turpis a nulla pretium laoreet.</li>
                                <li>vel venenatis turpis tincidunt.</li>
                            </ul>
                            <p><mark>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mark> Sed euismod nisl eget purus congue, vel venenatis turpis tincidunt.</p>
                            <p>Nullam in turpis a nulla pretium laoreet. Fusce sit amet arcu id nulla elementum fringilla. Aenean ut nisl eu purus bibendum sollicitudin.</p>
                            <p><em>Quisque sed quam eu sem tincidunt vehicula. Integer at augue Nullam in turpis a nulla pretium laoreet.</em> Sed vehicula justo eget justo luctus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="person-infomation" id="sobre">
        <div class="max-content">
            <div class="left  reveal-left">
                <h1 class="title">Quem é a karina ?</h1>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, a sunt error iste,
                    excepturi accusantium repudiandae voluptas autem nam soluta modi ad itaque aliquam in ullam delectus
                    voluptates nesciunt tempore.</p>
                <a href="#" class="button">Eu quero</a>
            </div>
            <div class="right reveal-right">
                <img src="{{urlBase}}/assets/img/quem.png" alt="">
            </div>
        </div>
    </section>
    <section class="feedbacks bg-theme" id="feedbacks">
        <div class="max-content">
            <span class="icon blob">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,19c-1.183,0-2.295-.461-3.131-1.297l-3.922-3.873c-.59-.582-.596-1.532-.014-2.121,.583-.59,1.532-.595,2.121-.014l3.929,3.88c.554,.554,1.488,.546,2.026,.007l3.938-3.887c.588-.582,1.54-.577,2.121,.014,.582,.589,.576,1.539-.014,2.121l-3.93,3.88c-.829,.83-1.94,1.291-3.124,1.291Zm1.062-6.439l5.999-6c.586-.586,.586-1.536,0-2.121-.586-.586-1.535-.586-2.121,0l-4.938,4.939L7.061,4.439c-.586-.586-1.536-.586-2.121,0-.586,.586-.586,1.536,0,2.121l6.001,6c.281,.281,.663,.439,1.061,.439s.779-.158,1.061-.439Z"/></svg>

            </span>
            <h1 class="title reveal">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 12H4c0 4.072 3.061 7.436 7 7.931V22h2v-2.069c3.939-.495 7-3.858 7-7.931h-2c0 3.309-2.691 6-6 6s-6-2.691-6-6z"></path><path d="M8 12c0 2.206 1.794 4 4 4s4-1.794 4-4h-2v-2h2V8h-2V6h2c0-2.217-1.785-4.021-3.979-4.021a.933.933 0 0 0-.209.025A4.006 4.006 0 0 0 8 6h4v2H8v2h4v2H8z"></path></svg>
                </span>
                Feedback de Mentoradas
            </h1>
            <p class="description reveal">Veja o que nossas mentoradas dizem sobre o metodo 4k</p>
            <div class="wrapper reveal">
                <div class="feedback"></div>
                <div class="feedback"></div>
                <div class="feedback"></div>
                <div class="feedback"></div>
                <div class="feedback"></div>
            </div>
        </div>
    </section>
    <section class="comunidade" id="comunidade" >
        <div class="max-content">
            <h1 class="title reveal">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                </span>
                Participe da comunidade
            </h1>
            <div class="baixo">
                <div class="left reveal-left">
                    
                    <p>
                        preencha e envie suas informações para fazer parte da comunidade que mais cresce no Brasil.
                    </p>
                    <img src="https://www.pontotel.com.br/wp-content/uploads/2022/11/medico-do-trabalho.png ">

                </div>
                <div class="right reveal-right">
                    <form action="">
                        <div class="input">
                            <label for="nome">
                                <i class='bx bxs-user'></i>
                                Nome
                            </label>
                            <input type="text" id="nome">
                        </div>
                        <div class="input">
                            <label for="email">
                                <i class='bx bxs-envelope'></i>
                                Email
                            </label>
                            <input type="email" id="email">
                        </div>
                        <div class="input">
                            <label for="telefone">
                                <i class='bx bxl-whatsapp'></i>
                                Telefone | Whatsapp
                            </label>
                            <input type="text" id="telefone">
                        </div>
                        <button>
                            ENVIAR
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {{footer}}
</main>