{{navbar}}
<header id="inicio">
    <div class="max-content">
        <div class="left reveal-left">
            <h1>
                Doutora do laser
            </h1>
            <p>Você tem interesse em se tornar uma <b>laserterapeuta</b> de <b>sucesso</b> no mercado? Seja bem vindo(a) ao <b>melhor</b> curso e comunidade do <b>Brasil</b> </p>
            <div class="btns-header">
                <a href="#" class="eu-quero">
                    Eu quero
                </a>
                <a href="#metodo" class="eu-quero saiba-mais">
                    Saiba mais
                </a>
            </div>
        </div>
        <div class="right reveal-right">
            <img src="{{urlBase}}/assets/img/card1.png" class="card card1 reveal" alt="card">
            <img src="{{urlBase}}/assets/img/header.png" alt="karina">
            <img src="{{urlBase}}/assets/img/card2.png" class="card card2 reveal-bottom" alt="card">
            <span class="tags">MENTORA</span>
            <span class="tags">PROFISSIONAL</span>
            <span class="tags">laserterapeuta</span>
        </div>
    </div>
</header>
<main>
    {{mainSections}}
</main>
{{footer}}