<section class="person-infomation" id="sobre">
    <div class="max-content">
        <div class="left  reveal-left">
            <h1 class="title">Quem é a karina ?</h1>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, a sunt error iste,
                excepturi accusantium repudiandae voluptas autem nam soluta modi ad itaque aliquam in ullam delectus
                voluptates nesciunt tempore.</p>
            <a href="#" class="button">Eu quero</a>
        </div>
        <div class="right reveal-right">
            <img src="{{urlBase}}/assets/img/quem.png" alt="">
        </div>
    </div>
</section>