<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="{{charset}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {{links}}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{{urlBase}}/assets/js/reveal.js" defer></script>
    {{scripts}}
</head>
<body>
    <div class="root">
        {{mainContent}}
    </div>
</body>
</html>